<section
  class="nutrition-container"
  itemscope
  itemtype="https://schema.org/NutritionInformation"
>
  <div class="title">
    <h2 itemprop="name">
      Porcentaje <br />
      Nutricional
    </h2>
    <p>Por porción*</p>
  </div>

  <div class="metrics">
    <div
      class="metric proteinas"
      itemscope
      itemprop="proteinContent"
      itemtype="https://schema.org/Quantity"
    >
      <div class="circle">
        <div class="circle-progress">
          <div class="progress">
            <div class="progress-ring-inner" style="--percent: 100"></div>
            <div class="progress-ring" style="--percent: 13"></div>
          </div>
          <div class="inner-circle"></div>
          <div class="progress-value">
            <p class="value">{{proteinsAmount}}{{proteinsUnit}}</p>
            <p class="percentage">{{proteins}}%</p>
          </div>
        </div>
      </div>
      <div class="metric-label">Proteínas</div>
    </div>

    <div
      class="metric grasas"
      itemscope
      itemprop="fatContent"
      itemtype="https://schema.org/Quantity"
    >
      <div class="circle">
        <div class="circle-progress">
          <div class="progress">
            <div class="progress-ring-inner" style="--percent: 100"></div>
            <div class="progress-ring" style="--percent: 13"></div>
          </div>
          <div class="inner-circle"></div>
          <div class="progress-value">
            <p class="value">{{fatsAmount}}{{fatsUnit}}</p>
            <p class="percentage">{{fats}}%</p>
          </div>
        </div>
      </div>
      <div class="metric-label">Grasas</div>
    </div>

    <div
      class="metric carbohidratos"
      itemscope
      itemprop="carbohydrateContent"
      itemtype="https://schema.org/Quantity"
    >
      <div class="circle">
        <div class="circle-progress">
          <div class="progress">
            <div class="progress-ring-inner" style="--percent: 100"></div>
            <div class="progress-ring" style="--percent: 13"></div>
          </div>
          <div class="inner-circle"></div>
          <div class="progress-value">
            <p class="value">{{carbohydratesAmount}}{{carbohydratesUnit}}</p>
            <p class="percentage">{{carbohydrates}}%</p>
          </div>
        </div>
      </div>
      <div class="metric-label">Carbohidratos</div>
    </div>

    <div
      class="metric calorias"
      itemscope
      itemprop="calories"
      itemtype="https://schema.org/Quantity"
    >
      <div class="circle">
        <div class="circle-progress">
          <div class="progress">
            <div class="progress-ring-inner" style="--percent: 100"></div>
            <div class="progress-ring" style="--percent: 13"></div>
          </div>
          <div class="inner-circle"></div>
          <div class="progress-value">
            <p class="value">{{caloriesAmount}}</p>
            <p class="percentage">Total</p>
          </div>
        </div>
      </div>
      <div class="metric-label">Calorías</div>
    </div>
  </div>
</section>
