<section class="recipe-info wrapper">
  <div class="upload-image" style="width: 100%"></div>
  <div class="info-container">
    <div class="recipe-nav-top">
      <div class="tags">
        <span class="tag-cattegory">{{category}}</span>
        <span class="tag-difficulty">{{difficulty}}</span>
      </div>
      <div class="buttons-navigation">
        <button class="prev">← Anterior</button>
        <button class="next">Siguiente →</button>
      </div>
    </div>
    <div class="recipe-content">
      <h1 class="name-recipe">{{title}}</h1>
      <p class="description-recipe">{{description}}</p>
    </div>
    <div class="recipe-icons">
      <div class="detail">
        <div class="icon">
          <img
            draggable="false"
            src="http://127.0.0.1:5500/Group 1000002202.png"
            alt=""
          />
        </div>
        <span># {{portions}}</span>
      </div>

      <div class="detail">
        <div class="icon">
          <img
            draggable="false"
            src="http://127.0.0.1:5500/XMLID_806_.png"
            alt=""
          />
        </div>
        <span># {{time}}</span>
      </div>

      <div class="detail">
        <div class="icon">
          <img
            draggable="false"
            src="http://127.0.0.1:5500/vegetarian_5635323 1.png"
            alt=""
          />
        </div>
        <span># {{ingredients}}</span>
      </div>
    </div>
  </div>
</section>
