<section class="recipe-info recipe-wrapper">
  <div class="upload-image" style="width: 100%"></div>
  <div class="info-container">
    <nav class="recipe-nav-top">
      <div class="tags" itemscope itemtype="https://schema.org/Recipe">
        <p class="visually-hidden">
          Categoría: <span itemprop="recipeCategory">Saludables</span>
        </p>
        <span class="tag" itemprop="recipeCategory">Saludables</span>

        <p class="visually-hidden">
          Dificultad: <span itemprop="difficultyLevel">Medio</span>
        </p>
        <span class="tag difficulty" itemprop="difficultyLevel">Medio</span>
      </div>
      <div class="buttons-navigation">
        <button class="prev" aria-label="Receta anterior">← Anterior</button>
        <button class="next" aria-label="Siguiente receta">Siguiente →</button>
      </div>
    </nav>

    <div class="recipe-content">
      <h1 class="name-recipe" itemprop="name">{{title}}</h1>
      <p class="description-recipe" itemprop="description">{{description}}</p>
    </div>

    <div class="recipe-icons">
      <p class="visually-hidden">
        Porciones:
        <span itemprop="recipeYield">{{portions}} porciones</span>
      </p>
      <span class="tag-metric" itemprop="recipeYield"
        >{{portions}} porciones</span
      >

      <p class="visually-hidden">
        Tiempo de preparación: <span itemprop="prepTime">PT30M</span>
      </p>
      <span class="tag-metric" itemprop="prepTime">30 minutos</span>

      <p class="visually-hidden">
        Ingredientes:
        <span itemprop="recipeIngredient"
          >{{ingredientsCount}} ingredientes</span
        >
      </p>
      <span class="tag-metric" itemprop="recipeIngredient"
        >{{ingredientsCount}} ingredientes</span
      >
    </div>
  </div>
</section>
