<section class="video-h-youtube">
  <div class="video-v-wrapper recipe-wrapper">
    <div class="video-v-container">
      <h2 class="video-v-title">
        <span class="colorRecete">Receta</span>
        <br />
        <span>{{titleVideo}}</span>
      </h2>
      <p class="description-recipe">{{descriptionVideo}}</p>
      <div class="video-h-description">
        <span class="video-h-description-text">{{descriptionVideo}}</span>
      </div>
    </div>
    <div class="video-container-h">
      <iframe
        class="video-v"
        src="https://www.youtube.com/embed/"
        frameborder="0"
        title="YouTube video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</section>
