<section class="video-h-youtube">
  <div class="video-h-wrapper recipe-wrapper">
    <div class="video-horizontal">
      <iframe
        class="video-h"
        src="https://www.youtube.com/embed/{{videoId}}"
        title="YouTube video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="video-h-container">
      <div class="video-h-description">
        <span class="video-h-description-text">{{description}}</span>
      </div>
    </div>
  </div>
</section>
