<div class="recipe-info-main">
  <div class="div-container">
    <div class="recipe-list-main">
      <h2 class="ingredient-list-title">Lista de Ingredientes</h2>
      <div class="ingredients-list">
        <div class="div-text-ingredients">
          <span class="text-ingredients">{{ingredientsName}}</span>
          <span class="text-ingredients">{{ingredientsQuantity}}</span>
        </div>
        <div class="div-text-ingredients">
          <span class="text-ingredients">{{ingredientsName}}</span>
          <span class="text-ingredients">{{ingredientsQuantity}}</span>
        </div>
        <div class="div-text-ingredients">
          <span class="text-ingredients">{{ingredientsName}}</span>
          <span class="text-ingredients">{{ingredientsQuantity}}</span>
        </div>
        <div class="div-text-ingredients">
          <span class="text-ingredients">{{ingredientsName}}</span>
          <span class="text-ingredients">{{ingredientsQuantity}}</span>
        </div>
        <div class="div-text-ingredients">
          <span class="text-ingredients">{{ingredientsName}}</span>
          <span class="text-ingredients">{{ingredientsQuantity}}</span>
        </div>
      </div>
      <p class="alert-text-ingredients">
        Desliza abajo para comprar los ingredientes
      </p>
    </div>
  </div>
</div>

<link rel="stylesheet" href="../styles/index.css" />
