<div class="receta">
  <h1 data-bind="nombre">Nombre de la receta</h1>
  <p class="descripcion" data-bind="descripcion">Descripción de la receta</p>

  <h2>Ingredientes:</h2>
  <ul class="ingredientes">
    <li data-bind="ingredientes">Ingrediente 1</li>
  </ul>

  <h2>Instrucciones:</h2>
  <ol class="instrucciones">
    <li data-bind="instrucciones">Paso 1</li>
  </ol>
</div>

<link
  rel="stylesheet"
  href="https://storage.googleapis.com/saboresolimpica/styles/index.css"
/>

<script src="https://storage.googleapis.com/saboresolimpica/functionality/get-recipe.js"></script>
