<div class="video-h-youtube">
  <div class="div-container">
    <div class="video-h-wrapper">
      <iframe
        class="video-h"
        src="https://www.youtube.com/embed/{{videoId}}"
        title="YouTube video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="video-h-description">
        <span class="video-h-description-text">{{description}}</span>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="../styles/index.css" />
