<div class="recipe-info-main">
  <div class="div-container">
    <div class="preparatipon-recipe-main">
      <h2 class="ingredient-list-title">Preparación</h2>
      <div class="preparation-steps">
        <div class="steps-p">
          <span class="description-preparation"
            >{{descriptionTitle}}</span
          >
        </div>
        <span class="description-preparation2""
          >{{description}}</span
        >
        <div class="steps-p">
          <span class="description-preparation"
            >{{descriptionTitle}}</span
          >
        </div>
        <span class="description-preparation2""
          >{{description}}</span
        >
        <div class="steps-p">
          <span class="description-preparation"
            >{{descriptionTitle}}</span
          >
        </div>
        <span class="description-preparation2""
          >{{description}}</span
        >
      </div>
      <p class="preparatipon-alert">
        <strong>¡LISTO!</strong> disfruta de estas deliciosa receta y más en
        sabores Olímpica.
      </p>
    </div>
  </div>
</div>

<link rel="stylesheet" href="../styles/index.css" />
