<div class="recipe-separator">
  <div class="recipe-wrapper">
    <div class="recipe-card">
      <div class="recipe-image">
        <img
          src="http://127.0.0.1:5500/close-up-food-served-table%205.png"
          alt="Pizza"
        />
      </div>
      <div class="recipe-info">
        <div class="recipe-nav">
          <div class="tags">
            <span class="tag category">Categoría</span>
            <span class="tag difficulty">Dificultad</span>
          </div>
          <div class="nav-buttons">
            <button class="prev">← Anterior</button>
            <button class="next">Siguiente →</button>
          </div>
        </div>
        <h1 class="recipe-title">{{title}}</h1>
        <p class="recipe-description">
          Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
          purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
          sagittis.
        </p>
        <p class="recipe-description">
          Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
          purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
          sagittis.
        </p>
        <div class="recipe-details">
          <div class="detail">
            <img
              class="icon"
              src="http://127.0.0.1:5500/Group 1000002202.png"
              alt=""
            />

            <span># porciones</span>
          </div>
          <div class="detail">
            <img
              class="icon"
              src="http://127.0.0.1:5500/XMLID_806_.png"
              alt=""
            />
            <span># Minutos</span>
          </div>
          <div class="detail">
            <img
              class="icon"
              src="http://127.0.0.1:5500/vegetarian_5635323 1.png"
              alt=""
            />
            <span># Ingredientes</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video-container">
    <div class="recipe-wrapper">
      <div class="video-wrapper">
        <video width="100%" height="600" controls>
          <source
            src="https://download.blender.org/durian/trailer/sintel_trailer-480p.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
        <div class="play-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="48"
            height="48"
          >
            <circle cx="12" cy="12" r="12" fill="red"></circle>
            <polygon points="10,8 16,12 10,16" fill="white"></polygon>
          </svg>
        </div>
      </div>
      <div class="video-description">
        <p>
          Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
          purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
          sagittis.
        </p>
      </div>
    </div>
  </div>

  <div class="recipe-wrapper recipe-list">
    <div class="recipe-list-row-1">
      <div class="ingredients">
        <h1 class="ingredient-title">Ingredientes</h1>
        <div class="ingredient-row">
          <div class="ingredient-icon">
            <img src="http://127.0.0.1:5500/egg_14588725 1.png" alt="" />
          </div>
          <div class="ingredient-name">Nombre ingrediente</div>
          <div class="ingredient-quantity">Cantidad</div>
        </div>
        <div class="ingredient-row">
          <div class="ingredient-icon">
            <img src="http://127.0.0.1:5500/egg_14588725 1.png" alt="" />
          </div>
          <div class="ingredient-name">Nombre ingrediente</div>
          <div class="ingredient-quantity">Cantidad</div>
        </div>
        <div class="ingredient-row">
          <div class="ingredient-icon">
            <img src="http://127.0.0.1:5500/egg_14588725 1.png" alt="" />
          </div>
          <div class="ingredient-name">Nombre ingrediente</div>
          <div class="ingredient-quantity">Cantidad</div>
        </div>
        <div class="ingredient-row">
          <div class="ingredient-icon">
            <img src="http://127.0.0.1:5500/egg_14588725 1.png" alt="" />
          </div>
          <div class="ingredient-name">Nombre ingrediente</div>
          <div class="ingredient-quantity">Cantidad</div>
        </div>
        <div class="ingredient-row">
          <div class="ingredient-icon">
            <img src="http://127.0.0.1:5500/egg_14588725 1.png" alt="" />
          </div>
          <div class="ingredient-name">Nombre ingrediente</div>
          <div class="ingredient-quantity">Cantidad</div>
        </div>
        <div class="ingredient-row">
          <div class="ingredient-icon">
            <img src="http://127.0.0.1:5500/egg_14588725 1.png" alt="" />
          </div>
          <div class="ingredient-name">Nombre ingrediente</div>
          <div class="ingredient-quantity">Cantidad</div>
        </div>
        <button class="add-to-cart">
          Agregar al carrito
          <span class="cart-icon">🛒</span>
        </button>
      </div>
      <div class="image-with-content">
        <div class="image-container">
          <img
            src="http://127.0.0.1:5500/close-up-food-served-table 8.png"
            alt="Person grating cheese over a cutting board with tomatoes nearby"
          />
        </div>
        <div class="caption">
          <p>
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="preparation-container">
        <h1 class="preparation-title">Preparación</h1>
        <ul class="preparation-list">
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
        </ul>
      </div>
      <div class="dotted-line"></div>
      <div class="preparation-container"></div>
        <h1 class="preparation-title">Para el armado</h1>
        <ul class="preparation-list">
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
          <li class="preparation-step">
            Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed
            purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis
            sagittis.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
