<div class="recipe-card">
  <div class="recipe-image">
    <img
      src="http://127.0.0.1:5500/close-up-food-served-table%205.png"
      alt="Pizza"
    />
  </div>
  <div class="recipe-info">
    <div class="recipe-nav">
      <div class="tags">
        <span class="tag category">Categoría</span>
        <span class="tag difficulty">Dificultad</span>
      </div>
      <div class="nav-buttons">
        <button class="prev">← Anterior</button>
        <button class="next">Siguiente →</button>
      </div>
    </div>
    <h1 class="recipe-title">{{title}}</h1>
    <p class="recipe-description">
      Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus
      augue, eu euismod tellus. Nam mattis eros nec mi sagittis sagittis.
    </p>
    <p class="recipe-description">
      Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus
      augue, eu euismod tellus. Nam mattis eros nec mi sagittis sagittis.
    </p>
    <div class="recipe-details">
      <div class="detail">
        <img
          class="icon"
          src="http://127.0.0.1:5500/Group 1000002202.png"
          alt=""
        />

        <span># porciones</span>
      </div>
      <div class="detail">
        <img class="icon" src="http://127.0.0.1:5500/XMLID_806_.png" alt="" />
        <span># Minutos</span>
      </div>
      <div class="detail">
        <img
          class="icon"
          src="http://127.0.0.1:5500/vegetarian_5635323 1.png"
          alt=""
        />
        <span># Ingredientes</span>
      </div>
    </div>
  </div>
</div>
