:root {
  --recipe-main-color: #e30613;
  --recipe-white-color: #ffff;
  --recipe-gray-color: #5d5d5d;
}

/*** ----------------------------------------------------- ***/

/*** ------------------ RECIPE.INFO.MAIN ------------------------ ***/

.recipe-info-main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}

.image-container {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 1rem;
}

.image-recipe {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: all 1s ease;
}

.image-recipe:hover {
  transform: scale(1.1);
}

.info-container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.recipe-nav-top {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  align-items: center;
}

.tag-cattegory {
  font-size: 14px;
  background-color: var(--recipe-main-color);
  color: var(--recipe-white-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.tag-difficulty {
  font-size: 14px;
  background-color: #a7a7a7;
  color: var(--recipe-white-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.name-recipe {
  font-size: 2.6rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: var(--recipe-main-color);
  margin-bottom: 0;
}

.description-recipe {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--recipe-gray-color);
}

.recipe-icons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

/*** ------------------ RECIPE.VIDEO.HORIZONTAL ------------------------ ***/

.video-h-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f4f4f4;
}

.video-h {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
}

.video-h-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-block: 3.5rem;
}

.video-h-description {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: start;
  border-left: 2px solid var(--recipe-main-color);
}

.video-h-description-text {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--recipe-gray-color);
  padding-left: 1rem;
}

/*** ------------------ RECIPE.LIST ------------------------ ***/

.recipe-list-main {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem 0;
  gap: 1rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(230, 230, 230, 1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(230, 230, 230, 1);
  box-shadow: 0px 5px 10px 0px rgba(230, 230, 230, 1);
}

.ingredient-list-title {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: var(--recipe-main-color);
  margin-bottom: 0;
}

.text-ingredients {
  font-size: 13px;
  color: var(--recipe-gray-color);
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
}

.alert-text-ingredients {
  color: var(--recipe-main-color);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
}

/*** ------------------ PREPARATION.STEPS ------------------------ ***/

.preparation-recipe-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.preparation-steps {
  margin: 0;
  padding: 0;
  display: flex;

  width: 100%;
  flex-direction: column;
  gap: 1.2rem;
}

.step {
  display: flex;
  align-items: flex-start;
}

.step-number {
  font-weight: bold;
  color: #d32f2f;
  font-size: 18px;
  margin-right: 8px;
}

.step-content {
  display: flex;
  flex-direction: column;
}

.step-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  border-left: 2px solid var(--recipe-main-color);
  padding-left: 0.75rem;
}

.step-title strong {
  color: var(--recipe-main-color);
}

.step-title h3 {
  margin: 0;
}

.step-description {
  font-size: 14px;
  color: var(--recipe-gray-color);
  margin-top: 0.75rem;
  padding-left: 0.5rem;
}

.step-description::before {
  content: "• ";
  color: var(--recipe-gray-color);
  font-weight: bold;
  margin-right: 4px;
}

.preparation-alert {
  margin: 0;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  color: var(--recipe-main-color);
  margin: 0;
  font-size: 1.5rem;
}

/*** ------------------ RECIPE.VIDEO.VERTICAL ------------------------ ***/

.video-v-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 2rem;
}

.video-v-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.video-v-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: var(--recipe-main-color);
  margin-bottom: 0;
}

.video-container-h {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-v {
  width: 100%;
  height: 35rem;
  border-radius: 1rem;
}

.colorRecete {
  color: var(--recipe-gray-color);
}

/*** ------------------ INGREDIENTS.LIST.IMG ------------------------ ***/

.recipe-info {
  display: flex;
  gap: 5rem;
}

.recipe-list-img-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1.5rem;
}

.image-recipe-list {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* @media (min-width: 768px) and (max-width: 1024px) {
  .recipe-info-main {
    width: 100%;
  }
} */

@media (min-width: 480px) and (max-width: 768px) {
  .recipe-icons {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .name-recipe {
    font-size: 2rem;
  }

  .prev,
  .next {
    display: none;
  }
}

@media (max-width: 480px) {
  .image-container {
    width: 100%;
  }

  .description-recipe {
    font-size: 17px;
  }

  .prev,
  .next {
    display: none;
  }

  .info-container {
    width: 100%;
  }

  .name-recipe {
    font-size: 2rem;
  }

  .recipe-icons {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }

  .video-h {
    height: 20rem;
    border-radius: 0;
  }

  .video-v-wrapper {
    flex-direction: column;
  }
}

.recipe-wrapper {
  max-width: 1000px;
  margin: auto;
}

.recipe-separator {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.recipe-card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.recipe-image {
  width: 100%;
}

.recipe-image img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.tags {
  display: flex;
  gap: 1rem;
}

.tag {
  background-color: var(--recipe-main-color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.difficulty {
  background-color: #b0b0b0;
}

.recipe-title {
  color: var(--recipe-main-color);
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.recipe-description {
  color: var(--recipe-gray-color);
  line-height: 1.5;
  margin-top: 10px;
}

.recipe-details {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.detail {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.detail > span {
  color: var(--recipe-gray-color);
}

.icon {
  margin-right: 5px;
  padding: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 100vh;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.prev,
.next {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: var(--recipe-main-color);
}

.recipe-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 12px;
}

.video-wrapper {
  position: relative;
  width: 1000px;
  border-radius: 8px;
  overflow: hidden;
}

.video-wrapper > video {
  width: 100%;
}

.video-thumbnail {
  width: 100%;
  border-radius: 8px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-button svg {
  width: 60px;
  height: 60px;
}

.video-description {
  margin-top: 3rem;
  text-align: center;
  color: #6c6c6c;
}

.video-description p {
  font-size: 16px;
  position: relative;
  padding-left: 0.938rem;
  text-align: justify;
}

.video-description p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--recipe-main-color);
  border-radius: 3px;
}

.recipe-list {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: baseline;
}

.recipe-list-row-1 {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: baseline;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #666;
  flex: 1;
  width: 100%;
}

.ingredients-container {
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: white;
}

.ingredient-title {
  color: var(--recipe-main-color);
  margin-top: 0;
  font-size: 2.25rem;
}

.ingredient-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.ingredient-icon {
  width: 50px;
  margin-right: 10px;
}

.ingredient-display {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.ingredient-name {
  flex-grow: 1;
}

.ingredient-quantity {
  text-align: right;
  color: #666;
}

.ingredient-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  border-bottom: 2px dashed var(--recipe-main-color);
}

.add-to-cart {
  background-color: var(--recipe-main-color);
  color: white;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.cart-icon {
  margin-left: 10px;
}

.image-with-content {
  border-radius: 10px;
}

.image-container {
  max-width: 650px;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.caption {
  padding: 1.25rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.4;
  color: #6c6c6c;
}

.caption p {
  font-size: 12px;
  line-height: 1.2;
  position: relative;
  padding-left: 0.938rem;
}

.caption p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--recipe-main-color);
  border-radius: 3px;
}

.preparation {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.preparation-title {
  color: var(--recipe-main-color);
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 20px;
}
.preparation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.preparation-step {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #333;
}
.preparation-step::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--recipe-main-color);
  font-weight: bold;
}

.dotted-line {
  border: none;
  height: 1px;
  background-image: linear-gradient(
    to right,
    var(--recipe-main-color) 50%,
    transparent 50%
  );
  background-size: 8px 1px;
  background-repeat: repeat-x;
  margin: 15px 0;
}

.ready {
  color: var(--recipe-main-color);
  font-weight: 500;
  font-size: 1.25rem;
}

.ingredient-row::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    red 30%,
    rgba(255, 255, 255, 0) 0%
  );
  background-size: 10px 2px;
  background-repeat: repeat-x;
}

.agroup {
  display: flex;
  gap: 5rem;
  padding-top: 3rem;
}

.agroup > div {
  width: 100%;
}

#recipe-info {
  padding-bottom: 5rem;
}
