.recipe-info-container {
  display: flex;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.category-label {
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.difficulty-label {
  top: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.recipe-title {
  color: #ff0000;
  font-size: 28px;
  margin-top: 20px;
}

.recipe-description {
  color: #666;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.info-container span {
  display: flex;
  align-items: center;
}

.info-container img {
  vertical-align: middle;
  margin-right: 5px;
}

.recipe-video {
  margin-top: 30px;
  position: relative;
}

.recipe-video img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-overlay div {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid white;
  margin-left: 5px;
}

.section-title {
  color: #ff0000;
  font-size: 22px;
  margin-top: 30px;
}

.ingredients-list,
.instructions-list {
  list-style-type: none;
  padding: 0;
}

.ingredients-list li,
.instructions-list li {
  margin-bottom: 10px;
}
