.recipe-separator {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.recipe-wrapper {
  max-width: 1000px;
  margin: auto;
}

.recipe-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.recipe-image img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.recipe-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.difficulty {
  background-color: #b0b0b0;
}

.recipe-title {
  color: #e74c3c;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.recipe-description {
  color: #666;
  line-height: 1.5;
  margin-top: 10px;
}

.recipe-details {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.detail {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.icon {
  margin-right: 5px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #888;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: #e74c3c;
}

.recipe-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 12px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.video-thumbnail {
  width: 100%;
  border-radius: 8px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-button svg {
  width: 60px;
  height: 60px;
}

.video-description {
  margin-top: 15px;
  padding: 0 20px;
  text-align: center;
  color: #6c6c6c;
}

.video-description p {
  font-size: 16px;
  line-height: 1.6;
  position: relative;
  padding-left: 30px;
}

.video-description p::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: red;
  border-radius: 3px;
}
