/* General Container Styles */
.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Image Styles */
.image-wrapper {
  position: relative;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.category-label,
.difficulty-label {
  position: absolute;
  top: 10px;
  background-color: #ff0000;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.difficulty-label {
  left: auto;
  right: 10px;
}

/* Heading Styles */
h1 {
  color: #333;
  font-size: 28px;
  margin-top: 20px;
}

p.description {
  color: #666;
  margin-bottom: 20px;
}

/* Info Section Styles */
.info-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item img {
  vertical-align: middle;
  margin-right: 5px;
}

/* Video Wrapper Styles */
.video-wrapper {
  margin-top: 30px;
  position: relative;
}

.video-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid white;
  margin-left: 5px;
}

/* Ingredients and Preparation Styles */
.ingredients,
.preparation {
  margin-top: 30px;
}

.ingredients h2,
.preparation h2 {
  color: #ff0000;
  font-size: 22px;
}

.ingredients ul,
.preparation ol {
  padding: 0;
  list-style-type: none;
}

.ingredients li,
.preparation li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.ingredients li img {
  margin-right: 10px;
}
